.criteria {
    padding: $sectionPaddingMobile 15px;

    @include respond-to("lg") {
        padding: $sectionPaddingDesktop 0;
    }

    .section-description {
        max-width: 600px;
        margin-bottom: 30px;

        @include respond-to("lg") {
            margin-bottom: 60px;
        }

        p {
            font-size: 14px;
            line-height: 1.6;

            @include respond-to("md") {
                font-size: 16px;
            }

            color: rgba(255, 255, 255, 0.6);
            margin: 0;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;

        @include respond-to("lg") {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &-card {
        background: #0F0C1D;
        border: 1px solid #2C293D;
        border-radius: 20px;
        padding: 24px;
        display: flex;
        flex-direction: column;

        @include respond-to("md") {
            padding: 35px;
        }

        .card-header {
            display: flex;
            align-items: end;
            gap: 15px;
            padding-bottom: 20px;
            border-bottom: 1px solid #2C293D;
            margin-bottom: 20px;

            @include respond-to("md") {
                gap: 20px;
                padding-bottom: 23px;
            }

            .card-number {
                font-family: $serifFontFamily;
                font-weight: 400;
                font-style: italic;
                font-size: 32px;
                line-height: 1;
                vertical-align: middle;
                color: #562CED;
                margin: 0;

                @include respond-to("md") {
                    font-size: 44px;
                    line-height: 44px;
                }
            }

            .card-label {
                font-family: $secondaryFontFamily;
                font-weight: 500;
                font-size: 10px;
                line-height: 1.5;
                letter-spacing: 2.2px;
                vertical-align: middle;
                text-transform: uppercase;
                color: #989FB399;
                margin: 0;
                margin-bottom: 4px;

                @include respond-to("md") {
                    font-size: 11px;
                    line-height: 16.5px;
                    margin-bottom: 0;
                }
            }
        }


        .card-content {
            .card-title {
                font-family: $serifFontFamily;
                font-weight: 400;
                font-size: 22px;
                line-height: 1.2;
                letter-spacing: -0.65px;
                vertical-align: middle;
                color: #F8FAFC;
                margin: 0;
                margin-bottom: 15px;

                @include respond-to("md") {
                    font-size: 26px;
                    line-height: 32.5px;
                    margin-bottom: 17px;
                }

                span {
                    color: #562CED;
                    font-style: italic;
                }
            }

            .card-description {
                p {
                    font-family: $secondaryFontFamily;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.6;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #989FB3;
                    margin-bottom: 0;

                    @include respond-to("md") {
                        font-size: 15px;
                        line-height: 24.75px;
                    }
                }

                em,
                strong,
                i {
                    font-style: italic;
                    font-family: $serifFontFamily;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.6;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #F8FAFC;

                    @include respond-to("md") {
                        font-size: 17px;
                        line-height: 28.05px;
                    }
                }
            }
        }
    }
}