#faq {
  position: relative;
  padding: $sectionPaddingMobile 15px;

  @include respond-to("xl") {
    padding: $sectionPaddingDesktop 0;
  }

  .faq-wrapper {
    display: flex;
    gap: 40px;
    flex-direction: column;

    @include respond-to("xl") {
      gap: 90px;
      flex-direction: row;
    }

    .left-part {
      @include respond-to("xl") {
        max-width: 630px;
      }

      width: 100%;

      .accordion {
        position: relative;

        .accordion-item {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding-bottom: 30px;
          margin-bottom: 30px;
          position: relative;
          transition: all 0.3s ease;

          &.active {
            &::before {
              position: absolute;
              content: "";
              left: -30px;
              top: 0;
              height: 90%;
              width: 2px;
              background: $buttonGradientColor;
            }

            .accordion-header img {
              transform: rotate(180deg);
            }

            .accordion-body {
              max-height: 500px; // Adjust this value to fit the maximum height of your content
              padding-top: 30px;
            }
          }

          .accordion-header {
            display: flex;
            gap: 20px;
            align-items: center;
            cursor: pointer;

            .number {
              width: 36px;
              /* Circle diameter */
              height: 32px;
              /* Circle diameter (equal to width) */
              display: flex;
              justify-content: center;
              align-items: center;
              background: $buttonGradientColor;
              color: $whiteColor;
              font-family: $secondaryFontFamily;
              font-size: 14px;
              line-height: 24px;
              font-weight: 600;
              border-radius: 50%;
              /* Makes it a perfect circle */
              overflow: hidden;
              /* Ensures no overflow if content exceeds */
            }

            span {
              font-family: $secondaryFontFamily;
              font-size: 24px;
              line-height: 34px;
              font-weight: 500;
              color: rgba(255, 255, 255, 1);
              display: flex;
              justify-content: space-between;
              width: 100%;

              img {
                transition: transform 0.3s ease-in-out;
              }
            }
          }

          .accordion-body {
            max-height: 0;
            overflow: hidden;
            padding-left: 60px;
            transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
            padding-top: 0;

            p {
              margin: 0;
              font-family: $secondaryFontFamily;
              font-size: 16px;
              line-height: 26px;
              font-weight: 400;
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }

    .right-part {
      text-align: center;

      @include respond-to("xl") {
        text-align: right;
      }

      flex: 1;

      img {
        border-radius: 10px;
      }
    }
  }
}

.pricing-faq {
  max-width: 850px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: $sectionPaddingMobile;

  @include respond-to("lg") {
    padding-bottom: $sectionPaddingDesktop;
  }

  .accordion {
    position: relative;

    .accordion-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;
      transition: all 0.3s ease;

      &.active {
        &::before {
          position: absolute;
          content: "";
          left: -30px;
          top: 0;
          height: 90%;
          width: 2px;
          background: $buttonGradientColor;
        }

        .accordion-header img {
          transform: rotate(180deg);
        }

        .accordion-body {
          max-height: 500px; // Adjust this value to fit the maximum height of your content
          padding-top: 30px;
        }
      }

      .accordion-header {
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;

        .number {
          width: 36px;
          /* Circle diameter */
          height: 32px;
          /* Circle diameter (equal to width) */
          display: flex;
          justify-content: center;
          align-items: center;
          background: $buttonGradientColor;
          color: $whiteColor;
          font-family: $secondaryFontFamily;
          font-size: 14px;
          line-height: 24px;
          font-weight: 600;
          border-radius: 50%;
          /* Makes it a perfect circle */
          overflow: hidden;
          /* Ensures no overflow if content exceeds */
        }

        span {
          font-family: $secondaryFontFamily;
          font-size: 24px;
          line-height: 34px;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          display: flex;
          justify-content: space-between;
          width: 100%;

          img {
            transition: transform 0.3s ease-in-out;
          }
        }
      }

      .accordion-body {
        max-height: 0;
        overflow: hidden;
        padding-left: 60px;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        padding-top: 0;

        p {
          margin: 0;
          font-family: $secondaryFontFamily;
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}