.included-features {
  padding: $sectionPaddingMobile 15px;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }

  .section-header {
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(lg) {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .features-box {
    background: #171429;
    border-radius: 24px;
    border-width: 1px;
    border: 1px solid #562CED33;
    overflow: hidden;
    max-width: 1288px;
    margin-inline: auto;

    &-header {
      background-color: #0F0C1D;
      padding: 30px 20px;
      border-bottom: 1px solid #2C293D;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 24px;

      @include respond-to(lg) {
        padding: 30px 40px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
      }
    }

    &-branding {
      .brand {
        font-family: $instrumentFontFamily;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: 0%;
        color: #F8FAFC;
        margin: 0;
        margin-bottom: 7px;

        @include respond-to(lg) {
          font-size: 32px;
          line-height: 39px;
        }

        span {
          color: #562CED;
          font-style: italic;
        }
      }

      .box-subtitle {
        font-family: $urbanistFontFamily;
        font-weight: 400;
        font-size: 13px;
        line-height: 19.5px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #989FB3;
        margin: 0;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr;

      @include respond-to(md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include respond-to(lg) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
      }
    }

    &-col {
      border-bottom: 1px solid #2C293D;
      padding: 28px 32px;

      @include respond-to(md) {
        border-right: 1px solid #2C293D;

        &:nth-child(2n) {
          border-right: none;
        }
      }

      @include respond-to(lg) {
        border-bottom: none;

        &:nth-child(2n) {
          border-right: 1px solid #2C293D;
        }

        &:nth-child(3n) {
          border-right: none;
        }
      }

      &:last-child {
        border-bottom: none;
        border-right: none;
      }


      .col-title {
        font-family: $urbanistFontFamily;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.5px;
        letter-spacing: 1.98px;
        vertical-align: middle;
        text-transform: uppercase;
        margin: 0;
        color: #562CED;
      }
    }

    .features-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      &-item {
        font-family: $urbanistFontFamily;
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 13.5px;
        line-height: 20.25px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #989FB3;
        margin: 0;

        .features-list-icon {
          flex-shrink: 0;
          margin-top: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .features-list-text {
          flex: 1;
        }
      }
    }

    &-footer {
      border-top: 1px solid #2C293D;
      padding: 20px;

      p {
        font-family: $urbanistFontFamily;
        font-weight: 400;
        font-size: 13px;
        line-height: 19.5px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: #989FB399;
        margin: 0;

        .link {
          font-family: $urbanistFontFamily;
          font-weight: 500;
          font-size: 13px;
          line-height: 19.5px;
          letter-spacing: 0%;
          text-align: center;
          text-decoration: underline;
          color: #562CED;
        }
      }
    }
  }
}