.mission-vision {
  max-width: 940px;
  margin: 0 auto;
  padding: $sectionPaddingMobile 15px;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }
  span {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    margin-bottom: 25px;
    color: rgba(163, 140, 246, 1);
    text-align: center;
    display: block;
  }
  p {
    font-family: "Urbanist", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
  }
}
