#partners {
  padding: $sectionPaddingMobile 15px;

  @include respond-to("xl") {
    padding: $sectionPaddingDesktop 0;
  }

  .partners-title {
    font-family: $instrumentFontFamily;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
    color: white;
    margin-top: 0px;
  }

  .partners-desktop {
    display: none;

    @include respond-to("xl") {
      display: block;
    }
  }

  .partners-mobile {
    display: block;

    @include respond-to("xl") {
      display: none;
    }

    .partners-mobile-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0px;
      width: 100%;
    }
  }

  .marquee-container {
    overflow: hidden;
    width: 100%;
    display: none; // Default hide

    @include respond-to("xl") {
      display: block;
      mask-image: linear-gradient(to right,
          transparent,
          black 10%,
          black 90%,
          transparent);
    }
  }

  .partners-row {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .marquee-track {
    display: flex;
    align-items: center;

    @include respond-to("xl") {
      width: max-content;
      flex-wrap: nowrap;
      // Use a long duration for smooth movement
      animation-duration: 40s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  .top .marquee-track {
    @include respond-to("xl") {
      animation-name: scroll-right;
    }
  }

  .bottom .marquee-track {
    @include respond-to("xl") {
      animation-name: scroll-left;
    }
  }

  .partner-item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    &.marquee-extra {
      display: none;

      @include respond-to("xl") {
        display: flex;
      }
    }

    img {
      display: block;
      max-width: 150px;
      height: auto;
      object-fit: contain;

      @include respond-to("xl") {
        max-width: fit-content;
      }
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    // We repeated 3 times, so move by 1/3 of the total width
    transform: translateX(calc(-100% / 3));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-100% / 3));
  }

  100% {
    transform: translateX(0);
  }
}