@import "../utils/variables";

#phases {
  position: relative;
  padding: $sectionPaddingMobile 15px;
  overflow-x: clip;

  @include respond-to("xl") {
    padding: $sectionPaddingDesktop 0;
  }

  .section-header {
    margin-bottom: 48px;
    max-width: 633px;
    width: 100%;
  }

  .phases-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .phase-item {
    border-radius: 16px;
    background: #0F0C1D;
    border: 1px solid #2C293D;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;

    @include respond-to("lg") {
      flex-direction: row;
      gap: 40px;
      padding: 32px;
    }

    .item-content {
      width: 100%;

      @include respond-to("lg") {
        max-width: 455px;
      }

      .item-badge {
        display: inline-flex;
        padding: 5px 12px;
        border-radius: 9999px;
        background: #562CED14;
        font-weight: 600;
        font-size: 10.5px;
        line-height: 16.5px;
        letter-spacing: 0.66px;
        text-transform: uppercase;
        color: #562CED;
        margin-bottom: 16px;

        @include respond-to("lg") {
          margin-bottom: 24px;
        }
      }

      .item-title {
        font-family: $serifFontFamily;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        color: #E8E6F0;
        margin-bottom: 12px;
        margin-top: 0px;

        @include respond-to("lg") {
          font-size: 28px;
          line-height: 100%;
          margin-bottom: 16px;
        }
      }

      .item-description {
        font-family: $secondaryFontFamily;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: rgba($whiteColor, 0.6);
        margin-bottom: 0;
      }
    }

    .item-graphic {
      width: 100%;
      height: auto;

      @include respond-to("lg") {
        max-width: 618px;
      }

      .phase-image {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}