.post-trial-options {
  padding: $sectionPaddingMobile 15px;
  background-color: transparent;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }

  .section-header {
    margin-bottom: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(lg) {
      margin-bottom: 40px;
    }
  }

  &-badge {
    font-family: $urbanistFontFamily;
    font-weight: 600;
    font-size: 10.5px;
    line-height: 16.5px;
    letter-spacing: 0.66px;
    text-transform: uppercase;
    background: #562CED14;
    border-radius: 9999px;
    padding: 4px 12px;
    color: #562CED;
    margin-bottom: 25px;
    display: inline-block
  }


  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1290px;
    margin: 0 auto 20px;

    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
      gap: 22px;
    }
  }

  &-card {
    display: inline-block;
    border: 1px solid #2C293D;
    padding: 24px;
    border-radius: 20px;
    background: #171429;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(120% 100% at 50% 0%, rgba(86, 44, 237, 0.2) 0%, rgba(23, 20, 41, 0) 100%),
        #171429;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    @include respond-to(md) {
      padding: 35px;
      border-radius: 24px;
    }

    @include respond-to(lg) {
      padding: 45px;
    }

    &:hover {
      border: 1px solid #562CED73;

      &::before {
        opacity: 1;
      }
    }
  }

  &-card-tag {
    font-family: $urbanistFontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.5px;
    letter-spacing: 1.32px;
    text-transform: uppercase;
    color: #562CED;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
  }

  &-card-price {
    font-family: $instrumentFontFamily;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.6px;
    color: #F8FAFC;
    margin: 0;
    margin-bottom: 10px;

    @include respond-to(lg) {
      font-size: 64px;
      line-height: 64px;
    }
  }

  &-card-price-sub {
    font-family: $urbanistFontFamily;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0px;
    color: #989FB399;
    margin: 0;
    margin-bottom: 8px;
  }

  &-card-commitment {
    font-family: $urbanistFontFamily;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    color: #989FB399;
    margin: 0;
  }

  &-card-subtitle {
    font-family: $instrumentFontFamily;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0%;
    color: #F8FAFC;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 16px;

    @include respond-to(lg) {
      font-size: 22px;
      line-height: 33px;
      margin-top: 32px;
      margin-bottom: 18px;
    }

    em,
    i,
    span {
      font-style: italic;
      color: #562CED;
    }
  }

  &-card-desc {
    flex-grow: 1;
    font-family: $urbanistFontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    letter-spacing: 0%;
    color: #989FB3;
    margin: 0;


  }

  &-card-footer-line {
    border-top: 1px solid #2C293D;
    padding-top: 24px;
    font-family: $urbanistFontFamily;
    font-weight: 500;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0%;
    color: #989FB399;
    margin: 0;

    span,
    strong,
    em {
      color: #562CED;
      font-weight: 500;
    }
  }

  &-footer-note {
    background: #562CED02;
    border: 1px solid #562CED24;
    padding: 24px;
    font-family: $urbanistFontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0%;
    text-align: center;
    color: #989FB3;
    border-radius: 16px;

    @include respond-to(lg) {
      padding: 30px;
      font-size: 15px;
      line-height: 25.5px;
      background: #562CED0A;
      border: 1px solid #562CED40;
    }

    em,
    strong,
    i {
      font-family: $instrumentFontFamily;
      font-weight: 400;
      font-style: italic;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: 0%;
      text-align: center;
      color: #F8FAFC;
      font-weight: 500;
      display: block;
      margin-bottom: 8px;

      @include respond-to(sm) {
        display: inline;
        margin-bottom: 0;
      }

      @include respond-to(lg) {
        font-size: 22px;
        line-height: 28.9px;
      }
    }
  }
}