.post-trial-options {
  padding: $sectionPaddingMobile 15px;
  background-color: transparent;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }

  .section-header {
    margin-bottom: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(lg) {
      margin-bottom: 40px;
    }
  }

  &-badge {
    font-family: $secondaryFontFamily;
    font-weight: 600;
    font-size: 10.5px;
    line-height: 16.5px;
    letter-spacing: 0.66px;
    vertical-align: middle;
    text-transform: uppercase;
    background: #562CED14;
    border-radius: 9999px;
    padding: 4px 12px;
    color: #562CED;
    margin-bottom: 25px;
    display: inline-block
  }


  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 22px;
    max-width: 1290px;
    margin-bottom: 20px;

    @include respond-to(lg) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
    }
  }

  &-card {
    display: inline-block;
    border: 1px solid #2C293D;
    padding: 45px;
    border-radius: 24px;
    background: linear-gradient(0deg, #171429, #171429),
      linear-gradient(180deg, #171429 0%, rgba(86, 44, 237, 0.04) 100%);

    &:hover {
      background: linear-gradient(0deg, #171429, #171429),
        linear-gradient(180deg, #171429 0%, rgba(86, 44, 237, 0.04) 100%);
      border: 1px solid #562CED73;
    }
  }

  &-card-tag {
    font-family: $secondaryFontFamily;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.5px;
    letter-spacing: 1.32px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #562CED;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
  }

  &-card-price {
    font-family: $serifFontFamily;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.6px;
    vertical-align: middle;
    color: #F8FAFC;
    margin: 0;
    margin-bottom: 10px;
  }

  &-card-price-sub {
    font-family: $secondaryFontFamily;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #989FB399;
    margin: 0;
    margin-bottom: 8px;
  }

  &-card-commitment {
    font-family: $secondaryFontFamily;
    font-weight: 400;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0.65px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #989FB399;
    margin: 0;
  }

  &-card-subtitle {
    font-family: $serifFontFamily;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #F8FAFC;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 18px;

    em,
    i,
    span {
      font-style: italic;
      color: #562CED;
    }
  }

  &-card-desc {
    flex-grow: 1;
    font-family: $secondaryFontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #989FB3;
    margin: 0;


  }

  &-card-footer-line {
    border-top: 1px solid #2C293D;
    padding-top: 24px;
    font-family: $secondaryFontFamily;
    font-weight: 500;
    font-size: 13px;
    line-height: 19.5px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #989FB399;
    margin: 0;

    span,
    strong,
    em {
      color: #562CED;
      font-weight: 500;
    }
  }

  &-footer-note {
    background: #562CED0A;
    border: 1px solid #562CED40;
    padding: 30px;
    font-family: $secondaryFontFamily;
    font-weight: 400;
    font-size: 15px;
    line-height: 25.5px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #989FB3;
    border-radius: 16px;

    em,
    strong,
    i {
      font-family: $serifFontFamily;
      font-weight: 400;
      font-style: italic;
      font-size: 22px;
      line-height: 28.9px;
      letter-spacing: 0%;
      text-align: center;
      vertical-align: middle;
      color: #F8FAFC;
      font-weight: 500;
    }
  }
}