.section-banner {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-inline: 15px;

  @include respond-to("lg") {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .section-header {
    margin: 0 auto;
  }

  h2 {
    text-align: center;

    @include respond-to("lg") {
      font-size: 64px;
    }
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}


.pricing-banner {

  padding-bottom: 30px;
  padding-top: 100px;
  padding-inline: 15px;

  @include respond-to("lg") {
    padding-top: 100px;
    padding-bottom: 60px;
    padding-inline: 0;
  }

  .section-header {
    max-width: 650px;
    margin: 0 auto;

    h2 {
      text-align: center;

      @include respond-to("lg") {
        font-size: 64px;
      }
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .banner-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 32px;

    .banner-link {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      color: #989FB3;
      font-family: $secondaryFontFamily;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: $whiteColor;
      }

      .icon-circle {

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}