.pricing {
  padding: $sectionPaddingMobile 15px;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }

  .section-header {
    margin-bottom: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(lg) {
      margin-bottom: 60px;
    }

    h2 {
      font-family: $serifFontFamily;
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: 20px;
      font-weight: 400;

      @include respond-to(lg) {
        font-size: 64px;
      }
    }

    .subtitle {
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.7);
      max-width: 750px;
      margin: 0 auto;

      @include respond-to(lg) {
        font-size: 18px;
      }
    }
  }

  .pricing-card-wrapper {
    max-width: 1290px;
    margin: 0 auto;
  }

  .pricing-card {
    background: #171429;
    border: 1px solid #562CED33;
    border-radius: 28px;
    overflow: hidden;
    padding: 30px 20px;

    @include respond-to(lg) {
      padding: 55px;
    }

    .pricing-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;

      @include respond-to(lg) {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }

    .pilot-section {
      .tag {
        font-weight: 500;
        font-size: 14px;
        line-height: 16.5px;
        letter-spacing: 1.32px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #562CED;
        font-family: $secondaryFontFamily;
      }

      .price {
        font-family: $serifFontFamily;
        font-weight: 400;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -1.5px;
        vertical-align: middle;
        color: $whiteColor;
        margin: 0;
        margin-top: 16px;
        margin-bottom: 4px;

        @include respond-to(lg) {
          font-size: 84px;
          line-height: 84px;
          letter-spacing: -2.1px;
          margin-top: 24px;
        }

        span {
          color: #562CED;
        }
      }

      .price-note {
        font-weight: 400;
        font-style: Italic;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
        font-family: $secondaryFontFamily;
        color: #989FB399;
        margin: 0;
      }

      .pilot-desc {
        margin-block: 40px;

        p {
          font-family: $secondaryFontFamily;
          font-weight: 400;
          font-size: 14px;
          line-height: 23.8px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #989FB3;
          margin: 0;
        }
      }

      .guarantee {
        h4 {
          font-family: $serifFontFamily;
          font-weight: 400;
          font-size: 22px;
          line-height: 33px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: $whiteColor;
          margin: 0;
          margin-bottom: 18px;

          span,
          em,
          i {
            color: #562CED;
            font-style: normal;
          }
        }

        .guarantee-text {
          p {
            font-family: $secondaryFontFamily;
            font-weight: 400;
            font-size: 15px;
            line-height: 24.75px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #989FB3;
            margin: 0;
          }
        }
      }
    }

    .definition-section {
      .tag {
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 16.5px;
        letter-spacing: 1.98px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #989FB399;
        font-family: $secondaryFontFamily;
        margin: 0;
      }

      .definition-title {
        font-family: $serifFontFamily;
        font-weight: 400;
        font-size: 28px;
        line-height: 33.6px;
        letter-spacing: -0.7px;
        vertical-align: middle;
        margin: 0;
        margin-top: 10px;

        span,
        em,
        i {
          color: #562CED;
          font-style: normal;
        }
      }

      .definition-list {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .definition-item {
          display: flex;
          gap: 20px;
          padding-block: 20px;
          border-bottom: 1px solid #2C293D;
          align-items: start;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }

          .item-number {
            font-family: $serifFontFamily;
            font-weight: 400;
            font-size: 24px;
            line-height: 22px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #562CED;
          }

          .item-content {
            h5 {
              font-weight: 500;
              font-style: Medium;
              font-size: 15px;
              line-height: 22.5px;
              letter-spacing: 0%;
              vertical-align: middle;
              color: #F8FAFC;
              margin: 0;
            }

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 21.7px;
              letter-spacing: 0%;
              vertical-align: middle;
              color: #989FB3;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .pricing-cta {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}