.pricing {
  max-width: 855px;
  margin: 0 auto;
  padding: $sectionPaddingMobile 15px;

  @include respond-to(lg) {
    padding: $sectionPaddingDesktop 15px;
  }

  .pricing-wrapper {
    .pricing-card {
      background: linear-gradient(
          273deg,
          #171b24,
          rgba(85, 43, 237, 0.0745098039)
        ),
        radial-gradient(
          153.38% 1055.88% at 17.55% 50%,
          rgba(85, 43, 237, 0.2) 0%,
          rgba(189, 171, 255, 0.4) 100%
        );

      padding: 30px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 20px;

      @include respond-to(lg) {
        padding: 50px;
        border-radius: 25px;
      }

      h3 {
        font-family: "Urbanist", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        margin-top: 0;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 1);
        text-align: center;
        @include respond-to(sm) {
          text-align: left;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 1);
        li {
          list-style: none;
          display: flex;
          gap: 15px;
          margin-bottom: 16px;
          span {
            font-family: "Urbanist", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      .pricing-bottom {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-top: 25px;
        flex-direction: column;
        @include respond-to(lg) {
          flex-direction: row;
        }
        span {
          font-family: "Urbanist", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.7);
          flex: 1;
        }
        a.btn {
          background: linear-gradient(90deg, #8563ff 17.91%, #9c2cd0 73.73%);
          color: $whiteColor;
          font-family: $secondaryFontFamily;
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          text-decoration: none;
          padding: 9px 24px; /* Padding defines size */
          border-radius: 40px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          border: none;

          &:hover {
            background: $secondaryColor;
            color: $darkColor;
          }
        }
      }
    }
  }
}
