.the-model {
    padding: $sectionPaddingMobile 15px;
    background-color: $darkColor;

    @include respond-to("lg") {
        padding: $sectionPaddingDesktop 0;
    }


    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include respond-to("lg") {
            grid-template-columns: 1fr 1fr;
            gap: 58px;
            align-items: start;
        }
    }

    &-content {
        .content-title {
            font-family: $serifFontFamily;
            font-weight: 400;
            font-size: 32px;
            line-height: 38.4px;
            letter-spacing: -0.8px;
            vertical-align: middle;
            color: #F8FAFC;
            margin: 0;

            span {
                color: $primaryColor;
                font-style: italic;
            }
        }

        .content-description {
            font-family: $secondaryFontFamily;
            font-weight: 400;
            font-size: 16px;
            line-height: 27.2px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #989FB3;
        }
    }

    &-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-card {
        background: #0F0C1D;
        padding: 30px;
        border-radius: 14px;
        border: 1px solid #2C293D;
        display: flex;
        align-items: start;
        gap: 32px;

        .card-number {
            font-family: $serifFontFamily;
            font-weight: 400;
            font-style: italic;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #562CED;
            margin: 0;
        }

        .card-body {
            .card-title {
                font-family: $secondaryFontFamily;
                font-weight: 500;
                font-size: 15px;
                line-height: 22.5px;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #F8FAFC;
                margin: 0;
            }

            .card-description {
                font-family: $secondaryFontFamily;
                font-weight: 400;
                font-size: 14px;
                line-height: 22.4px;
                letter-spacing: 0%;
                vertical-align: middle;
                color: #989FB3;
                margin: 0;
                margin-top: 8px;
            }
        }
    }
}