.who-its-for {
    padding: $sectionPaddingMobile 15px;

    @include respond-to("lg") {
        padding: $sectionPaddingDesktop 0;
    }



    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        @include respond-to("md") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to("lg") {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

        }
    }

    &-card {
        background: #0F0C1D;
        border: 1px solid #2C293D;
        border-radius: 16px;
        padding: 38px;


        &-inner {
            display: flex;
            flex-direction: column;
        }

        &-icon {
            width: 18px;
            height: 18px;
            color: $primaryColor;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(7465%) hue-rotate(248deg) brightness(97%) contrast(101%);
            }

            svg {
                width: 100%;
                height: 100%;
                fill: currentColor;
            }
        }

        &-title {
            font-family: $serifFontFamily;
            font-weight: 400;
            font-size: 22px;
            line-height: 26.4px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #F8FAFC;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 24px;
        }

        &-description {
            font-family: $secondaryFontFamily;
            font-weight: 400;
            font-size: 14px;
            line-height: 21.7px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #989FB3;

            p {
                margin: 0;
            }
        }
    }
}