// Colors
$primaryColor: #552AED;
$secondaryColor: #bdabff;
$darkColor: #090712;
$gradientColor: linear-gradient(90deg, #552AED 0%, #552AED 100%);
$buttonGradientColor: linear-gradient(90deg, #552AED 0%, #552AED 100%);
$whiteColor: #ffffff;
$blackColor: #000000;

// Typography
$urbanistFontFamily: "Urbanist", sans-serif;
$instrumentFontFamily: "Instrument Serif", serif;
$dmFontFamily: "DM Sans", sans-serif;

// Spacing
$sectionPaddingMobile: 30px;
$sectionPaddingDesktop: 60px;