// Colors
$primaryColor: #552bed;
$secondaryColor: #bdabff;
$darkColor: rgba(19, 22, 29, 1);
$gradientColor: linear-gradient(90deg, #8563ff 17.91%, #d16eff 73.73%);
$buttonGradientColor: linear-gradient(90deg, #8563ff 17.91%, #9c2cd0 73.73%);
$whiteColor: #ffffff;
$blackColor: #000000;

// Typography
$primaryFontFamily: "Lexend Deca", serif;
$secondaryFontFamily: "Urbanist", serif;
$serifFontFamily: "Instrument Serif", serif;