// Colors
$primaryColor: #552AED;
$secondaryColor: #bdabff;
$darkColor: rgba(19, 22, 29, 1);
$gradientColor: linear-gradient(90deg, #552AED 0%, #552AED 100%);
$buttonGradientColor: linear-gradient(90deg, #552AED 0%, #552AED 100%);
$whiteColor: #ffffff;
$blackColor: #000000;

// Typography
$primaryFontFamily: "Lexend Deca", sans-serif;
$secondaryFontFamily: "Urbanist", sans-serif;
$serifFontFamily: "Instrument Serif", serif;

// Spacing
$sectionPaddingMobile: 30px;
$sectionPaddingDesktop: 60px;